<footer id="footerSection">
    <header class="headers">Stay with us</header>
    <p>
        <a href="#" class="socialLink">Facebook</a> 
        <a href="#" class="socialLink">Youtube</a> 
        <a href="#" class="socialLink">Instagram</a> 
        <a href="#" class="socialLink">Google</a>  
    </p>
    <p id="copyrighttext">Copyright 2020</p>
</footer>
<script src="/assets/js/main.js"></script>
</body>
</html>