<div class="loginModal Modal disNone">
    <div class="modalHeader">
        <header>login</header>
        <span class="modalCloser">X</span>
    </div>
        <form method="POST" id="loginForm">
            <div class="formGroup">
                <label>email</label>
                <input type="email" placeholder="email" id="loginEmail"/>
                <p class="error" id="loginEmailError"></p>
            </div>
            <div class="formGroup">
                <label>password</label>
                <input type="password" placeholder="password" id="loginPass"/>
                <p class="error" id="loginPassError"></p>
            </div>
            <button type="submit" class="submitbtn">Login</button>
        </form>
    </div>
</div>