<div class="signupModal Modal disNone">
    <div class="modalHeader">
        <header>signup</header>
        <span class="modalCloser">X</span>
    </div>
    <div>
        <form id="signupForm">
            <div class="formGroup">
                <label>First name</label>
                <input type="text" name="firstName" placeholder="firstName"/>
                <p class="error" id="firstNameError"></p>
            </div>
            <div class="formGroup">
                <label>Last name</label>
                <input type="text" name="lastName" placeholder="lastName"/>
                <p class="error" id="lastNameError"></p>
            </div>
            <div class="formGroup">
                <label>Email</label>
                <input type="email" name="email" placeholder="email"/>
                <p class="error" id="emailError"></p>
            </div>
            <div class="formGroup">
                <label> Password</label>
                <input type="password" name="password" placeholder="password"/>
                <p class="error" id="passError"></p>
            </div>
            <button type="submit" class="submitbtn">register</button>
        </form>
    </div>
</div>